:root {
    --f1-red: #e10600;
    --dark-bg: #0b0b0f;
    --panel-bg: rgba(0, 0, 0, 0.9); 
    --text-light: #ffffff;
}

body { background-color: var(--dark-bg); color: var(--text-light); font-family: sans-serif; display: flex; justify-content: center; padding: 20px; }

.pantalla { display: none; }
.activa { display: block; }

.portada { width: 100%; max-width: 400px; text-align: center; }
.btn-comenzar { background-color: var(--f1-red); color: white; padding: 15px; border: none; width: 100%; margin-top: 20px; cursor: pointer; }
.grid-escuderias { display: grid; grid-template-columns: 1fr 1fr; gap: 10px; margin-top: 20px; }
.btn-escuderia { background: #1a1a20; color: white; border: 1px solid #333; padding: 10px; text-align: left; }
